In [6]:
import pandas as pd
df=pd.read_csv("CORPORATE_ACTIONS/nse_dividends.csv")
df

,ticker,announcement_date,record_date,pay_date,dividend_type,amount_per_share,currency
0,BKG,21-Nov-2025,08-Dec-2025,12-Jan-2026,Interim,11.20,RWF
1,IMH,20-Nov-2025,15-Dec-2025,14-Jan-2026,Interim,1.50,KES
2,COOP,13-Oct-2025,26-Nov-2025,04-Dec-2025,Interim,1.00,KES
3,KEGN,31-Oct-2025,04-12-2025,12-02-2026,Final,0.90,KES
4,CARB,31-Oct-2025,26-Nov-2025,18-Dec-2025,Final,2.00,KES
...,...,...,...,...,...,...,...
168,CTUM,30-Jul-2024,11-October-2024,NaN,Final,0.32,KES
169,EABL,30-Jul-2024,16-Sep-2024,28-Oct-2024,Final,6.00,KES
170,BAT,25-Jul-2024,30-Aug-2024,27-Sep-2024,Interim,5.00,KES
171,KAPC,28-Jun-2024,31-Jul-2024,02-Sep-2024,Final,15.00,KES
172,WTK,28-Jun-2024,31-Jul-2024,02-Sep-2024,Final,15.00,KES

QUICK RETRIEVAL OF THE CORPORATE ACTIONS CELLS.